/* Style sheet for Breccian Web images
 *
 * See the `--style-sheet` argument of the Web imager for instructions on using this file.
 * http://reluk.ca/project/Breccia/Web/imager/bin/breccia-web-image.brec
 */
@namespace brec 'data:,Breccia/XML';
@namespace html 'http://www.w3.org/1999/xhtml';


    :root {
        background-color: hsl( 0, 0%, 15% );
                   color: hsl( 0, 0%, 79% );
        font-family: monospace; }



/* ━━━  B r e c c i a n   l a y o u t  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
 */

    /* Fracta
     */
    brec|Head ~ brec|*,
    brec|FileFractum,
    brec|FileFractum > brec|*:not(Head) { /*
          The top selector covers child fracta of headed parents, the middle the parentless file fractum,
          and the bottom child fracta of a headless file fractum. */
        display: block; }



    /* Fractal heads
     */
    brec|Head {
        display: block;
        white-space: pre; } /* [T] */


    brec|/*division*/Head/*aka divider*/ > DividerSegment {
        display: block; }



    /* Block constructs and their component lines
     */
    brec|CommentBlock, brec|CommentBlock > Line,
    brec|IndentBlind,  brec|IndentBlind  > Line {
     /* display: block; */ } /* While this would be truer to Breccia, it serves no present need
          and might lead to difficulties.  Often an ancestor (e.g. descriptor) has inline display,
          and the ramifications of a block-in-inline arrangement confuse even the CSS people.
          https://github.com/w3c/csswg-drafts/issues/1477 */



/* ━━━  P o i n t s  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
 */

    /* Bullets
     */
    brec|Bullet {
        font-weight: bold; }


    brec|PlainPoint > Head > Bullet {
        color: hsl( 0, 0%, 100% ); }


    brec|TaskPoint > Head > Bullet {
        color: hsl( 27/*orange*/, 70%, 60% );



/* NOTE
 *
 *   T ·· Text properties are set on the fractal head alone, where all Breccian text is confined.
 */


                                                     /* Copyright © 2022  Michael Allan.  Licence MIT. */
