/* Style sheet for Breccian Web images
 */
@namespace brec 'data:,Breccia/XML';
@namespace html 'http://www.w3.org/1999/xhtml';


    :root { /*
        --centre-column:   The value of the namesake imager option [BWI] is effectively written here. */
        --viewport-width: calc( 100vw - /*maximum expected width of vertical scroll bar*/9mm ); /*
             An estimate of the true viewport width, such that content this wide will not of itself
             cause the horizontal scroll bar to appear.  This is a work around for a fault in CSS.
             https://www.w3.org/TR/css-values/#issue-56221f3d */
        background-color: hsl( 0, 0%, 15% );
                   color: hsl( 0, 0%, 79% ); }



/* ━━━  B r e c c i a n   l a y o u t  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
 */

    /* Fracta
     */
    brec|FileFractum,                     /*  The file fractum,    */
    brec|FileFractum > brec|*:not(Head), /*  its fractal children,  */
    brec|Head ~ brec|* {                /*  and other fracta’s fractal children. */
        display: block; }



    /* Fractal heads
     */
    brec|Head {
        display: block;
        white-space: pre; } /* [T] */


    brec|/*division*/Head/*aka divider*/ > DividerSegment {
        display: block; }



    /* Block constructs and their component lines
     */
    brec|CommentBlock, brec|CommentBlock > Line,
    brec|IndentBlind,  brec|IndentBlind  > Line {
        display: block; } /* This might lead to difficulties.  Often an ancestor (e.g. descriptor)
          will have inline display, and the ramifications of a block-in-inline arrangement confuse even
          the CSS people.  https://github.com/w3c/csswg-drafts/issues/1477
             Yet these *are* block constructs and saying so, while it makes no difference to text flow,
          enables a reduction (elsewhere) of their `line-height`. */



/* ━━━  F o n t s  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
 */

    @font-face {
        font-family: 'Fairfax HD';
        src: url('../../../font/FairfaxHD.ttf')  format('opentype'); }



    :root {
        font-family:
          'Fairfax HD', /* Gives near-seamless jointing of semigraphics and good alignment of lines
             and triangles (ab)used as arrow heads.  So does JetBrains Mono, but its stubby ascenders
             and descenders harm readability.  Others worthy of mention are DejaVu Sans Mono and Mensch,
             variants  of Vera Sans Mono. */
          'monospace';
        line-height: 1.1; } /* For consistency across clients.
          E.g. the default value is 1 for Chrome 98, yet 1.2 for Firefox 91. */



    @media screen {
        :root {
            font-size: max( 16px, 1em ); }} /* What is known to look reliably good across clients,
              but never smaller than the reader prefers. */



    brec|IndentBlind {
        line-height: 1.0; } /* Required for seamless vertical jointing of semigraphics. */



/* ━━━  P a g e   l a y o u t  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
 */

    /* Centring the text in the page
     */
    brec|FileFractum {
        margin: /*top, bottom*/0  /*left, right*/auto/*centred*/;
        width: min( /*(a)*/var(--centre-column) * 2,  /*(b)*/var(--viewport-width) ); } /*
          Value (a) sizes the file fractum to be centred as per imager option `--centre-column`. [BWI]
          Value (b) defeats the effect in narrow viewports, where it might needlessly balloon the width
          and force the horizontal scroll bar to appear. */



/* ━━━  P o i n t s  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
 */

    /* Bullets
     */
    brec|Bullet {
        font-weight: bold; }


    brec|PlainPoint > Head > Bullet {
        color: hsl( 0, 0%, 100% ); }


    brec|TaskPoint > Head > Bullet {
        color: hsl( 27/*orange*/, 70%, 60% );



/* NOTES
 *
 *   BWI  http://reluk.ca/project/Breccia/Web/imager/bin/breccia-web-image.brec
 *
 *   T ·· Text properties are applicable within fractal heads alone, where all Breccian text is confined.
 */


                                                     /* Copyright © 2022  Michael Allan.  Licence MIT. */
